extends layouts/default.layout.pug

block content
  table.tabble-striped
    thead
      tr
        th Title
        th Username
        th Age
    tbody
      tr
        td Facebook
        td john.doe@gmail.com
        td 1 month
      tr
        td Google
        td john.doe@gmail.com
        td 2 months
      tr
        td Twitter
        td jdoe
        td 3 months
