.nav-group
  h3.nav-group-title Entry type
  span.nav-group-item
    <span class='icon icon-star'></span> Favorites
  span.nav-group-item
    <span class='icon icon-user'></span> Logins
  span.nav-group-item
    <span class='icon icon-lock'></span> Passwords
  span.nav-group-item
    <span class='icon icon-docs'></span> Notes

.nav-group
  h3.nav-group-title Entry age
  span.nav-group-item
    <span class='icon icon-back-in-time'></span> Last week
  span.nav-group-item
    <span class='icon icon-back-in-time'></span> Last month
  span.nav-group-item
    <span class='icon icon-back-in-time'></span> Older entries
